<form action="/markdown/save" method="post" class="card lf-full-height lf-flex-container lf-flex-columns lf-justify-between">
  {% if code then %}
  <input type="hidden" name="code" value="{{ code }}" />
  {% end %}

  <textarea id="markdown" class="textarea" name="markdown" placeholder="Paste your markdown here" rows="20">{{ markdown }}</textarea>

  <footer class="card-footer">
    <p class="card-footer-item lf-left">
      <a
        href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet"
        target="_blank"
        title="Markdown cheatsheet"
        class="button"
      >
        Markdown Cheatsheet
      </a>
    </p>
    <p class="card-footer-item lf-right">
      <button type="submit" class="button is-link">
        Save
      </button>
    </p>
  </footer>
</form>

<style type="text/css">
.CodeMirror {
  flex: auto;
}
</style>
