{% layout = "base.html" %}
{-main-}
  <section class="section">
    <div class="container">
      {% if not username or username == "" then %}
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            Authentication
          </p>
        </header>
        <p class="card-content">
          Only me, <a href="https://twitter.com/@gustavohenriq" target="_blank">Gustavo Henrique</a>, is allowed to authenticate. Sorry!
        </p>
        {(_auth.form.html)}
      </div>
      {% else %}
      <section class="hero is-light">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              Hi, {{ username }}!
            </h1>
          </div>
        </div>
      </section>
      {% end %}
    </div>
  </section>
{-main-}
