{% layout = "base.html" %}

{-css-}
<link rel="stylesheet" href="/static/styles/github-markdown-light.css">
<link rel="stylesheet" href="/static/styles/github-markdown-dark.css" media="(prefers-color-scheme: dark)">
{-css-}

{-main-}
<section class="section">
  <div class="container">
    <h1 class="title">Markdown Editor</h1>
    <h2 class="subtitle">Improve your text readability writing on Markdown format</h2>
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          Share it
        </p>
      </header>
      <div class="card-content">
        <h5 class="subtitle is-5">
          {{ unescaped_url }}
        </h5>
      </div>
      {(_social.footer.html)}
    </div>
  </div>
</section>

<section class="section" style="padding-top:0">
  <div class="container">
    <div class="card">
      <div id="content" class="card-content markdown-body"></div>
      <pre id="markdown" style="display:none">{{ markdown }}</pre>
      {% if username then %}
      <footer class="card-footer">
        <a href="/md/{{ code }}" class="card-footer-item">Edit</a>
      </footer>
      {% end %}
    </div>
  </div>
</section>

<script src="/static/javascript/marked.min.js"></script>
<script>
  const div = document.querySelector('#content');
  const pre = document.querySelector('#markdown');
  div.innerHTML = marked(pre.innerText);
</script>
{-main-}
