{% layout = "base.html" %}
{-main-}
<section class="section">
  <div class="container">
    <h1 class="title">URL Shortener</h1>
    <h2 class="subtitle">Transform long links into shorts</h2>
    {(_shortener.form.html)}
  </div>
</section>

{% if username then %}
<section class="section">
  <div class="container table-container">
    <table class="table is-bordered is-striped is-fullwidth">
      <thead>
        <th>ID</th>
        <th>URL</th>
        <th>Hits</th>
      </thead>
      <tbody>
        {% for id, card in pairs(cards) do %}
        <tr>
          <th>{{ id }}</th>
          <td>{{ card.long_url }}</td>
          <td>{{ card.hits }}</td>
        </tr>
        {% end %}
      </tbody>
    </table>
  </div>
</section>
{% end %}

{-main-}
