{% layout = "base.html" %}

{-css-}
<link rel="stylesheet" href="/static/styles/github-gist.css">
<link rel="stylesheet" href="/static/styles/pojoaque.css" media="(prefers-color-scheme: dark)">
<style type="text/css">
@media (prefers-color-scheme: light) {
  pre, code {
    background: white;
  }
}
@media (prefers-color-scheme: dark) {
  pre, code {
    background: black;
  }
  .hljs {
    background: transparent;
  }
}
</style>
{-css-}

{-main-}
<section class="section">
  <div class="container">
    <h1 class="title">Text Snippet</h1>
    <h2 class="subtitle">Beautify source code snippets</h2>
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          Share it
        </p>
      </header>
      <div class="card-content">
        <h5 class="subtitle is-5">
          {{ site_url }}
        </h5>
      </div>
      {(_social.footer.html)}
    </div>
  </div>
</section>

<section class="section" style="padding-top:0">
  <div class="container">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          {{ syntax_name }} syntax
        </p>
      </header>
      <pre><code class="{{ syntax }} is-size-5">{{ content }}</code></pre>
      {% if username then %}
      <footer class="card-footer">
        <a href="/snippet/{{ id }}/edit" class="card-footer-item">Edit</a>
      </footer>
      {% end %}
    </div>
  </div>
</section>
{-main-}

{-extrajs-}
<script src="/static/javascript/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{-extrajs-}
